<div class="mb-5">
  <img [src]="imgSrc" [alt]="imgAlt" class="img-fluid">

  <h4 [innerHTML]="fullName" [style.color]="color"></h4>

  <h4 [ngStyle]="styles"> Al Fath </h4>

  <button class="btn btn-primary" [disabled]="isDisabled">Pencet Aku</button>
  <div class="text-center mb-3">
    <h1 [style.color]="color">{{number}}</h1>
  </div>
  <div class="m-auto text-center mb-5 d-flex justify-content-center gap-4">
    <button class="btn btn-primary" (click)="plusFunc()">Start</button>
    <button class="btn btn-danger" (click)="stopFunc()">Stop</button>
  </div>

  <div class="mt-5 text-center mb-5 ">
    <h2>
      <span class="" [innerHTML]="message" (mouseover)="mOver()" (mouseout)="mOut()"></span>
    </h2>
  </div>
  <h1 class="text-center">{{name}}</h1>
  <input type="text"  class="form-control" id="name" (input)="onKeypress($event)">
</div>

<ul>
  <li *ngFor="let t of tes; let i = index">{{t}}</li>
</ul>

<p *ngIf="isActive">ACTIVE</p>
