/* Reset default margin and padding for the header */
header {
  margin: 0;
  padding: 0;
}

/* Style for the navbar */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Style for the logo */
.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* Style for the navigation links */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  border-bottom: 2px solid #fff;
}

.button-link {
  display: flex;
  gap: 14px;
}

/* Styling for the button */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #656668;
  border: 2px solid #656668;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

/* Hover effect for the button */
.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Active effect for the button */
.button:active {
  background-color: #003266;
  border-color: #003266;
}

/* Disabled effect for the button */
.button:disabled {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  cursor: not-allowed;
}
